commands:
#  01-get-token-auth_file:
#    command: "aws --region=us-west-2 s3 cp s3://solr.ucldc/token_auth /var/app/"
#  02-move-to-nginx-dir:
#    command: "mv /var/app/token_auth /etc/nginx/"
  03-get-index-html:
    command: "aws --region=us-west-2 s3 cp s3://solr.ucldc/eb-files/index.html /var/app/"
  04-move-to-html-dir:
    command: "mv /var/app/index.html /usr/share/nginx/html/"
  03-get-solr-logo:
    command: "aws --region=us-west-2 s3 cp s3://solr.ucldc/eb-files/Solr_Logo_on_white-sm.png /var/app/"
  04-move-logo-to-html-dir:
    command: "mv /var/app/Solr_Logo_on_white-sm.png /usr/share/nginx/html/"

Resources:
    AWSEBAutoScalingLaunchConfiguration:
        Type: AWS::AutoScaling::LaunchConfiguration
        Properties:
            BlockDeviceMappings:
               - DeviceName: /dev/xvda
                 Ebs:
                     VolumeSize:
                        100

