commands:
  00-mkdir-solr-index:
    command: "mkdir -p /var/app/solr-index/index"
  00-mkdir-solr-index-log:
    command: "mkdir -p /var/app/solr-index/tlog"

#env vars from config are not init'd when "commands" run, but are when
# container_commands run
container_commands:
  00-list-env:
    command: "env"
  01-grab-index:
    command: "sudo aws --region=us-west-2 s3 cp ${S3_INDEX_PATH} /var/app/solr-index/solr-index.tar.bz2"
  02-extract-index-archive:
    command: "cd /var/app/solr-index; sudo tar -xvf /var/app/solr-index/solr-index.tar.bz2" 
  03-mkdir-tlog:
    command: "mkdir -p /var/app/solr-index/tlog"
