#**
 *  View of a single solr document
 *#

#parse('doc_shortcuts.vm')

### TODO: PUT BACK<div id="doc-thumb-box" class="small-3 large-3 columns">
###  <a href="$urlItem"><img src="$urlThumbnail" height="100" width="100" align="center"></a>
###</div>
<div id="doc-view" class="small-3 large-6 columns">
<div class="doc-title">
  ## Title, hyperlinked
  <h2>
  <a href="$urlItem" target="_blank">
    $title</a>
  </h2>
</div>

#if($doc.getFieldValue('campus'))
  <h3>Campus:</h3>
#foreach ( $campus in $doc.getFieldValue('campus') )
$campus<br/>
#end
#end

#if($doc.getFieldValue('repository'))
  <h3>Repository:</h3>
#foreach ( $repository in $doc.getFieldValue('repository') )
$repository<br/>
#end
#end

#if($doc.getFieldValue('collection_name'))
  <h3>Collection:</h3>
 #field('collection_name')
#end

#if($doc.getFieldValue('publisher'))
  <h3>Published by:</h3>
#foreach ( $publisher in $doc.getFieldValue('publisher') )
$publisher<br/>
#end
#end

## Item Identifier (URL?)
<div>
   <h3>Item URL:</h3>
#foreach( $identifier in  $doc.getFieldValue('identifier') )
#if ( $identifier.matches('http(s|):.*'))
<a href="$identifier" target="_blank">$identifier</a><br/>
#else
#end
#end
</div>

#if($doc.getFieldValue('entity_ss'))
  <h3>Recognized named entities:</h3>
#foreach ( $entity in $doc.getFieldValue('entity_ss') )
	#if ( $entity.matches('http(s|):.*'))
	  <a href="$value">$entity</a>
	#else
          $entity
	#end
      <br/>
#end
#end

<br/>

#foreach( $fieldName in $doc.fieldNames )
  #set($rgxSS = ".*_ss$")
  #if(!$fieldName.matches($rgxSS))
  #if($fieldName != 'campus' && $fieldName != 'repository' && $fieldName != 'publisher')
  #if($fieldName != 'collection_name' && $fieldName != 'title')
  #if($fieldName != 'id' && $fieldName != 'timestamp' && $fieldName != '_version_')
  #if($fieldName != 'url_thumbnail' && $fieldName != 'score')
  <h3>$fieldName</h3>
    #foreach( $value in $doc.getFieldValues($fieldName) )
	#if ( $value.matches('http(s|):.*'))
	  <a href="$value">$value</a>
	#else
          $value
	#end
      <br/>
    #end
  #end
  #end
  #end
  #end
  #end
#end

</div>

<div id="mlt-box" class="large-3 columns">
<h3>Similar items:</h3>
#set($mlt = $mltResults.get($docId))
  #if($mlt && $mlt.size() > 0)
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <div class="row mlt">
###          <div style="float:left">
###            <a href="#{url_for_view}?q=id:$mltId">
###### TODO: PUTBACK              <img src="$mltHit.getFieldValue('url_thumbnail')" alt="$mltId"/>
###            </a>
###          </div>
          <div>
            <a class="mlt-title-link" href="#{url_for_view}?q=id:$mltId">
            $mltHit.getFieldValue('title').get(0)
	    </a>
          </div>
          
          #if($mltHit.getFieldValue('description'))
          <div>
            $mltHit.getFieldValue('description')
          </div>
          #end
        </div>
      #end    ## end for each mltHit in $mlt
  #end
</div>
