#**
 *  Render the top section of the page visible to users
 *#

<div id="head">
  <span><h1 id="logo"><a href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end">UCLDC Index Dev Lab</a></h1></span>
</div>
